<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <form action="https://swpowe.onrender.com/create-user" method="post">
        <input type="text" id="nameField" name="nameField" placeholder="Name" required>
        <input type="email" id="emailField" name="emailField" placeholder="Email Address" required>
        <input type="password" name="passwordField" id="passwordField" placeholder="Password">
        <button type="submit">Create User</button>
    </form>
</body>
</html>