<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do App</title>
  </head>
  <body>
    <main>
      <h1>Welcome to our To Do App!</h1>
      <div id="items"></div>
      <form action="http://localhost:8080/todos" method="get">
        <button type="submit">Get All To Do Items</button>
      </form>
      <form action="http://localhost:8080/todo" method="post">
        <input type="text" name="id" id="id" />
        <button type="submit">Get To Do item by ID</button>
      </form>
      <div id="error-message" style="display: <%= display %>; color: red">
        Required info is missing. Try again.
      </div>
      <form action="http://localhost:8080/add-todo" method="post">
        <input
          type="text"
          name="listName"
          id="listName"
          placeholder="List Name"
        />
        <input type="text" name="title" id="title" placeholder="title" />
        <input
          type="text"
          name="description"
          id="description"
          placeholder="description"
        />
        <button type="submit">Add To Do</button>
      </form>

      <div>
        <h1>Dynamic Content</h1>
        <% for(let count = 0; count < items.length; count++ ){ %> <%
        console.log(JSON.parse(items[count])) %> <% const item =
        JSON.parse(items[count]) %>
        <br />*<%= items[count] %>
        <form action="http://localhost:8080/todo" method="post">
            <input type="hidden" name="id" id="id" value="<%= item._id %>">
            <button type="submit">Modify Form</button>
        </form>
        <%# will output the numbers 1-100 %> <% } %>
      </div>
    </main>
  </body>
</html>
